{% extends 'training/base.html' %}

{% block body %}
    <div class="row text-center">
        {% for item in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ item.massage_sender.subject }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Клиент: {{ item.customer.name }}</li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Дата рассылки: {{ item.created_at }}</li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Статус: {{ item.status }}</li>
                    </ul>
                </div>

                <div class="d-flex justify-content-between align-items-center">

                        <div class="btn-group">
                            <a href="{% url 'sender:attempt_detail' item.id %} " class="btn btn-sm btn-outline-secondary">Подробно</a>
                            <a href="{% url 'sender:attempt_delete' item.id %}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                        </div>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <nav aria-label="...">
  <ul class="pagination">
      {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'sender:attempt_list' %}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            </li>
      {% else %}
          <li class="page-item disabled">
      <a class="page-link" >Предыдущая</a>
    </li>
      {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'sender:attempt_list' %}?page={{ page_obj.next_page_number }}">Следующая</a>
    </li>
    {% else %}
        <li class="page-item disabled">
      <a class="page-link">Следующая</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}